# Dependências do Node.js
# Esta é a pasta mais importante a ser ignorada.
node_modules/

# Arquivo CSS gerado pelo Tailwind
# Você só precisa do 'input.css', pois o 'output.css' é recriado.
/src/style/output.css

# Arquivos de sistema (Opcional, mas recomendado)
.DS_Store
Thumbs.db

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente (para guardar senhas, chaves de API, etc.)
.env
.env.local